/* CSS declarations go here */
body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;

  background-color: #3D3E40;
  /* background-image: linear-gradient(to bottom, #315481, #918e82 100%); */
  /* background-attachment: fixed; */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  /* background: white; */
}
.col-container{
  max-width: 600px;
  margin-left: 25%;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}


.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

button{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 280px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  border: 0px solid rgb(121,193,67);
  -webkit-border-radius: 40px;
  border-radius: 10px;
  font: normal 20px/30px "Advent Pro", CiscoSans, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgb(121, 193, 67);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

button:hover {
  color: rgba(255,255,255,1);
  background: rgb(105, 159, 70);
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	right:40px;
	background-color:#8ABF56;
	color:#FFFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.overlay{
      background-color: #f6f6f6;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      z-index:1000;
      overflow-y: scroll;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.row {
  margin: auto;
}
.column {
    float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#panelImg {
  max-height:100%; 
  max-width:100%;
}

#createPollForm {
  background-color: #FFFFFF;
}
.plusShape {
  display:inline-block!important;
  position:relative;
  width:30px;
  height:30px;
  border-radius:100%;
  background-color:#8ABF56;
  border:calc(30px/8) solid #8ABF56;
  box-sizing:content-box
}

.plusShape:before {
  position:absolute;
  content:'';
  margin:auto;
  width:calc(30px/8);
  height:calc(30px/1.5);
  background-color:#fff;
  top:0;bottom:0;left:0;right:0
}

.plusShape:after { 
  position:absolute;
  content:'';
  margin:auto;
  width:calc(30px/1.5);
  height:calc(30px/8);
  background-color:#fff;
  top:0;bottom:0;left:0;right:0
}

.card-grid {
  margin: 30px 10px 10px 30px;
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
}

.card-item {
  background: #fff;
  height: 200px;
  width: 500px;
  margin: 20px 30px;
  margin-bottom: 1rem;
}

.card{
  height: 100%;
  overflow: hidden;
}

.inactive-card-left{
  width: 30%;
  height: 100%;
  float: left;
  padding: 10px 0 0 10px;
  background-color:#d9d9d9;
}
.active-card-left{ 
  width: 30%;
  height: 100%;  
  float: left;
  padding: 10px 0 0 10px;  
  background-color: #79c143
}
.card-right { 
  width: 70%;
  height: 100%;  
  padding: 10px 10px 10px 170px;
}




